<div class="d-flex flex-column text-center">
	<div>
		<h1 class="pt-3 pb-3 text-success">create comment</h1>
	</div>
	<div class="border border-dark bg-success pt-3 pb-3 pr-4 pl-4 text-warning">
		<%= form_for [@goss, @com] do |f| %>

			<div class="form-group">
				<label class="h3">comment</label>
				<%= f.text_area :content, class: 'form-control' %>
			</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary">modifier gossip</button>
			</div>

		<% end %>
		<a href="" class="btn btn-danger" data-confirm="sur?" data-method="delete">delete</a>
	</div>
</div>